[Desktop Entry]
Version=1.0
Type=Application
Name=Goland
Exec=/home/mohsen/Apps/goland/bin/goland
Comment=Golang IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
