[Desktop Entry]
Name=Oblivion
Comment=Cloudflare Warp
Exec=/home/mohsen/Apps/oblivion/oblivion-desktop
Icon=oblivion
Terminal=false
Type=Application
Categories=Network;
