[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Exec=/home/mohsen/Apps/pycharm/bin/pycharm
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
